/* src/AspectRatio.css */
.aspect-ratio-container {
  position: relative;
  width: 100%;
  height: 0;
}

.aspect-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aspect-ratio-container img,
.aspect-ratio-container video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust this if needed */
}
